.first-section {
    background: url("../img/Sections background/section-1(header).jpg") no-repeat fixed;
    background-size: cover;
    min-width: 1200px;
    min-height: 83vh;
    color: #fff;
    font-family: Montserrat, sans-serif;

}

.max-width-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 75%;
    max-width: 1160px;
}

.max-width-header-content a {
    text-decoration: none;
    color: #b8b8b8;
    text-transform: uppercase;
    margin: 0px 10px;
    font-size: 13px;
    font-weight: bold;
}

.nav-bar a:hover {
    color: aquamarine;
}

#logo-picture:before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 33px solid transparent;
    border-right: 33px solid transparent;
    border-bottom: 20px solid #18cfab;
}

#logo-picture:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 33px solid transparent;
    border-right: 33px solid transparent;
    border-top: 20px solid #18cfab;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: rgba(73, 71, 63, 0.6);
    min-height: 100px;
    height: 9.5vh;
    width: 100%;
    z-index: 999;
}

a.logo {
    width: max-content;

    color: #fff;
}

#logo-picture {
    width: 66px;
    height: 36px;
    background: #18cfab;
    position: relative;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    margin-right: 6px;
    font-size: 35px;
    color: #fff;
}

.logo-text {

    font-size: 35px;
    line-height: 70px;
    display: inline;
    text-transform: none;
    font-weight: normal;
}

.green-text {
    color: #18cfab;
}

.nav-bar {
    

    display: flex;
    width: 683px;
    justify-content: space-between;
    line-height: 100px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #b8b8b8;
}

.nav-bar a {
    border-bottom: 2px solid transparent;
}

.nav-bar a:hover:not(:last-child) {
    border-bottom: 2px solid #18cfab;
}

.nav-bar form:hover{
    border-bottom: 2px solid #18cfab;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 80vh;
    line-height: 70px;

}

.max-width-heading-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


}

.heading h1 {
    font-size: 29px;
    text-transform: uppercase;
    font-weight: bold;
}

.heading h2 {
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bold;
}

.heading p {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 250;
    color: #b8b8b8;
}

.heading-flex-item {
    margin-top: 7%;
}

.heading-flex-item:last-child {
    display: flex;
    min-width: 350px;
    justify-content: space-between;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: 31px;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #18cfab;
    width: 166px;
    height: 54px;
    position: relative;
    z-index: 9;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 -5px 0 #fff;
}

.green-btn {
    background-color: #18cfab;

}

.aqua-btn {
    background-color: #00cbf6;
}


.advantages-section {
    min-width: 1200px;
    height: 39vh;
    display: flex;
    font-family: Montserrat, sans-serif;
}

.advantages-flex-item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
    padding-bottom: 120px;
    padding-top: 95px;
    text-transform: uppercase;
    position: relative;

}

.advantages-flex-item:nth-child(even) {
    padding-top: 75px;
    background-color: #18cfab;
    border-top: 7px solid white;
    color: white;
}

.advantages-flex-item:nth-child(odd) {
    padding-top: 75px;
    background-color: #1C2A2E;
    border-top: 7px solid #18cfab;
    color: #18cfab;
}

.advantages-flex-item p {
    position: absolute;
    bottom: 50px;
}



.title {
    margin-top: 5%;
    color: #4e4e4e;
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    color: #4e4e4e;
    font-family: "Montserrat";

}

.title:after {
    content: "";
    display: block;
    margin: 0 auto;
    transform: skew(70deg);
    height: 4px;
    width: 76px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    margin-top: 37px;
    margin-bottom: 70px;
}

.max-width-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1160px;
}

.service-section {
    min-width: 1200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4e4e4e;
}

.service-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.service-child {
    width: calc(100%/6);
    background: #b8b8b8;
    min-height: 86px;
    background-color: #ebf2ff;
    border: 1px solid rgba(180, 180, 180, 0.5);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: #717171;

}

.arrow-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #18cfab;
    bottom: -20px;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


.service-active {

    background-color: #18cfab;
    color: #fff;
}

.service-content {

    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    text-align: justify;
    transform: scaleY(1.0009);
    margin-top: 35px;
    margin-bottom: 35px;
}

.service-content img {
    width: 200px;
    height: 160px;
    float: left;
    margin-right: 15px;
    vertical-align: middle;

}

.purchase-section {
    min-width: 1200px;
    height: 38vh;
    min-height: 420px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    background: url("../img/Sections background/section-2.jpg") no-repeat fixed;
    background-size: cover;
}

.black-cover {
    background-color: rgba(0, 0, 0, 0.78);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
}

.portfolio-section {
    min-width: 1200px;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    background-color: #f1f1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px 0;
}

.purchase-heading {
    margin-top: 5vh;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.purchase-subheading {
    color: #d8d8d8;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 9vh;
    margin-top: 4vh;
}



.portfolio-list-filter {
    color: #717171;
    font-size: 14px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 10vh;
}

.portfolio-child {
    width: 140px;
    height: 75px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fff;
    border: 1px solid rgba(180, 180, 180, 0.3);
    line-height: 39px;
    color: #717171;
    font-family: "Montserrat";
    font-weight: 400;
    text-align: center;
}


#gallery {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 24.5%;
    overflow: hidden;
    max-height: 625px;
    -webkit-transition: all 1000ms ease;
    transition: all 1000ms ease;
    padding-top: 21px;
    box-sizing: border-box;
}

.portfolio-flex-item-btn {
    margin-top: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.portfolio-active {
    color: #18cfab;
    border-top: 1px solid #18cfab;
}

.gallery-item {
    position: relative;

    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    overflow: hidden;
    display: flex;
}

.gallery-item img {
    min-width: 100%;
    min-height: 100%;
}

.scale-anm {
    transform: scale(1);
}

.load-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}




.portfolio-hover {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    border-top: 3px solid #18cfab;
    padding: 46px 0 52px 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -213px;
    background-color: #f8fcfe;
}

.portfolio-links a {
    margin: 0 2.5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    line-height: 40px;
    color: #18cfab;
}

.portfolio-links a:hover {
    color: white;
    background-color: #18cfab;
}

.portfolio-info p {
    line-height: 30px;
    text-transform: capitalize;
}

.portfolio-info p:first-child {
    color: #18cfab;
    font-size: 19px;
    text-align: center;
    font-weight: 600;

}


/* ////////NEWS-SECTION */
.news-section {
    min-width: 1200px;
    height: 80vh;
    min-height: 850px;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px 0;
}

.news-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-item {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 45px;
    text-decoration: none;
    overflow: hidden;
    transition: all 300ms ease;
}

.news-date {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #203e38;
    height: 60px;
    width: 60px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.news-img {
    overflow: hidden;
}

.news-img img {
    width: 263px;
    height: 208px;
    position: relative;
    transition: 0.9s;
    display: block;
    overflow: hidden;
}


.news-info {
    display: flex;
    height: 55px;
    padding: 13px;
    flex-direction: column;
    background-color: #f1f1ff;
    color: #717171;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2px solid #e2e2e2;
}

.news-info p span:first-child:after {
    content: " ";
    display: inline-block;
    height: 14px;
    width: 1px;
    background-color: #777777;
    margin: 0 10px;
    position: relative;
    top: 2px;
}

.news-info p:first-child {
    color: #717171;
    font-size: 17px;
    font-weight: bold;
}

.news-item:hover .news-date {
    background-color: #18cfab;
}

.news-item:hover .news-info p:first-child {
    color: #18cfab;
}

.news-item:hover .news-img img {
    transform: scale(1.2);
}


/* SLICK CSS */
.slider-section {
    min-width: 1200px;
    height: 75vh;
    min-height: 840px;
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/Sections background/section-3.jpg") no-repeat fixed;
    background-size: cover;
    box-sizing: border-box;
}


.quote-simbol {
    width: 45px;
    height: 30px;
    margin-bottom: 30px;
}

.slider-section .title {
    color: #fff;
}

.slider-for {
    width: 1160px;
    margin-bottom: 30px;
}

.slider-nav {
    height: 84px;
    width: 366px;
}

.sl-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #bbbbbb;
    text-align: center;
    height: 350px;
}

.sl-slide-nav {
    height: 74px;
}

.pers-quote {
    line-height: 30px;
    margin-bottom: 30px;
}

.pers-name {
    color: #18cfab;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.pers-occupation {
    margin-bottom: 40px;
}

.sl-img {
    margin: 0 auto;
    height: 140px;
    width: 140px;
    border: 4px solid #18cfab;
    border-radius: 50%;
    box-shadow: 0 0 0 9px rgba(31, 218, 181, 0.2);
    margin-top: 11px;
    cursor: pointer;
}


.sl-img-nav {
    margin: 0 auto;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
    margin-top: 25px;
    cursor: pointer;
}

.slick-arrow {
    margin-top: 15px;
    width: 35px;
    height: 35px;
    border: 1px solid #bbbbbb;;
    color: #bbbbbb;
    box-sizing: border-box;
}

.slick-arrow:hover {
    background-color: #18cfab;
    color: #fff;
    border: none;
}

.slick-prev {
    left: -50px;
}

.slick-prev:before {
    content: "\003C";
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    opacity: 1;
}

.slick-next {
    right: -50px;
}

.slick-next:before {
    content: "\003E";
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    opacity: 1;
}

.slick-current .sl-img-nav {
    border: 2px solid #18cfab;
    transform: scale(1.1);
    transition: all 0.4s linear;
    margin-top: 10px;
}

.slick-current .sl-slide-nav {
    margin-bottom: 20px;
}
 






/* .review-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: no-repeat center fixed url("../img/Sections\ background/section-3.jpg ");

    background-size: cover;

    width: 100%;
}

.review-bg .title {
    color: #FFFFFF;
}

.review-section {
    padding: 100px 0;
    color: #FFFFFF;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.quotes {
    width: 20px;
    height: 30px;
    background: url('../img/others/quote.png') -10px -10px;

}

.review-text {
    display: none;
    text-align: center;
    margin-top: 45px;
    height: 100px;
    width: 1100px;
    box-sizing: border-box;
    font-size: 19px;
    line-height: 27px;
}

.big-reviewer {
    flex-direction: column;
    align-items: center;
    display: none;
    justify-content: space-between;
    height: 220px;
}

.reviewer-info {
    font-size: 12px;
    line-height: 2;
    text-align: center;
}

.green-text-review {
    color: #18cfab;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    font-size: 16px;
}

.big-reviewer-img {
    width: 145px;
    height: 146px;
    border-radius: 50%;
    border: 3px solid #18cfab;
    box-shadow: 0 0 0 10px rgba(0, 79, 56, 0.6);
    animation: pulsing 1s ease-in-out;
}

.reviewer-case {
    margin-top: 70px;
    display: flex;
    align-items: center;
    width: 480px;
    justify-content: space-between;
}

.reviewer-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 0 5px rgba(0, 79, 56, 0.6);
}

.basic-slide {
    padding: 9px 12px;
    border: 1px solid #FFFFFF;
}

.basic-slide:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

.katya {
    background: no-repeat center url("../img/review-avatars/katya.png");
    background-size: cover;
}

.tony {
    background: no-repeat center url("../img/review-avatars/tony.png");
    background-size: cover;
}

.hasan {
    background: no-repeat center url("../img/review-avatars/hasan.png");
    background-size: cover;
}

.jessica {
    background: no-repeat center url("../img/review-avatars/jessica1.jpeg");
    background-size: cover;
} */

.page-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #22353f;
    padding: 45px 0;
    margin-bottom: 10px;
}

.copy-text {
    color: white;
}

.active-reviewer {
    border: 1px solid #18cfab;
    animation: go-up 1s forwards;
}

.active-category {
    color: #18CFAB;
}

.active-review {
    display: inline-block;
}

.active-big-review {
    display: flex;

}

.active {
    position: relative;
    background-color: #18CFAB;
    color: #FFFFFF;
    border: none;
}

.active:before {
    content: " ";
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #18CFAB;
    top: calc(100% - 10px);
    left: calc(50% - 10px);
    transform: rotate(45deg);
}

.footer {
    background-color: #22353f;
    width: 100%;
    min-width: 1200px;
    height: 100px;
    font-family: Montserrat;
    color: #aeaeae;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.green-text-footer {
    color: #18cfab;
    border-right: 1px solid #aeaeae;
    padding-right: 7px;
    margin-right: 3px;
    cursor: pointer;
    text-decoration: none;
}





@keyframes pulsing {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 79, 56, 0.6);
    }

    50% {
        box-shadow: 0 0 0 15px rgba(0, 79, 56, 0.6);
    }

    100% {
        box-shadow: 0 0 0 10px rgba(0, 79, 56, 0.6);
    }
}

@keyframes go-up {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}